.header {
    text-align: center;
    min-height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header > * {
    padding: 10px;
}

.headerDetails {
    width: 400px;
}

.headerDetails > .spaced {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultNum {
    justify-content: center;
}

.massWarning {
    color: red;
}

.appName {
    color: #7175da;
}

.yearSelectLabel {
    font-size: larger;

}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}