.meteorsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 250px;
    max-height: 80px;
}

.details {
    padding: 10px;
    position: relative;
    width: 100%;
    min-width: 0;
}

.details label {
    font-weight: bold;
}

.details div {
    display: flex;
    justify-content: space-between;
}

.details span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.img {
    background-color: #2A265F;
    color: #fff;
    padding: 10px;
    max-width: 250px;
    display: flex;
    align-items: center;
}